ion-toolbar {
  ion-back-button, ion-icon {
    --color: #FFFFFF;
    font-size: 22px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e6e6e;
}