ion-content {
  ion-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    div.login-input {
      float: left;
      width: 100%;
      position: relative;

      ion-button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;

        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;

        --border-radius: 25px !important;
        margin: 0 !important;
        color: #FFFFFF;

        ion-icon:last-child {
          left: unset;
          position: relative;
          transform: unset;
          top: unset;
        }
      }
    }

    img.logo {
      width: 150px;
      height: 150px;
      max-width: 150px;
      margin-left: 50%;
      transform: translateX(-50%);
      border: 2px solid #FFFFFF;
      border-radius: 50%;
    }

    .edit-button {
      position: absolute;
      left: 60%;
      top: 0;
      transform: translateY(-50%);
    }

    ion-col {
      ion-input {
        text-align: center;

        --placeholder-color: #979BA0;
        border: 1px solid #979BA0;
        border-radius: 25px;

        --highlight-color-focused: none;
        --highlight-color-invalid: none;
        --highlight-color-valid: none;
        --color: #FFFFFF;
        --padding-start: 10px;
        --padding-end: 10px;
      }

      .custom-buttom {
        padding: 0;
      }
    }
  }
}