ion-content {
  ion-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    div.login-input {
      float: left;
      width: 100%;
      position: relative;

      ion-button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 11;

        --padding-start: 5px;
        --padding-end: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;

        --color: rgba(48, 57, 67, 0.502)

        --border-radius: 25px !important;
        margin: 0 !important;

        ion-icon:last-child {
          left: unset;
          position: relative;
          transform: unset;
          top: unset;
        }
      }
    }

    img.logo {
      width: 50%;
      max-width: 150px;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    ion-col {
      ion-input: {

      }
    }
  }
}