<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="assets/icon/favicon.png" alt="logo" class="logo">
        <ion-button fill="clear" class="edit-button">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="10" offset="1" class="ion-margin-top ion-padding-vertical">
        <form [formGroup]="loginForm">
          <div class="login-input">
            <ion-input placeholder="Username" formControlName="username" class="ion-margin-bottom"></ion-input>
          </div>

          <div class="login-input">
            <ion-input placeholder="Password" formControlName="password" [type]="show.password ? 'text' : 'password'"></ion-input>

            <ion-button (click)="show.password = !show.password" fill="clear">
              <ion-icon [name]="show.password ? 'eye' : 'eye-off'"></ion-icon>
            </ion-button>
          </div>
        </form>
      </ion-col>

      <ion-col size="10" offset="1">
        <ion-button fill="solid" expand="block" shape="round" [disabled]="!loginForm.valid" (click)="login()" class="ion-padding-vertical custom-buttom">Login</ion-button>
      </ion-col>

      <ion-col size="10" offset="1" class="ion-text-center">
        <ion-button fill="clear" (click)="goToSignup()" class="ion-padding-vertical custom-buttom">Create account</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-row>
    <ion-col size="10" offset="1" class="ion-text-center">
      <ion-button fill="clear" class="ion-padding-vertical custom-buttom">Forgot password?</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
