<ion-header class="ion-no-borders">
  <ion-toolbar *ngIf="!showSearchBar" class="ion-no-padding ion-padding-horizontal">
    <ion-buttons slot="start">
      <ion-icon (click)="showSearchBar = !showSearchBar" slot="start" name="search"></ion-icon>
    </ion-buttons>
    
    <ion-title class="ion-text-center">Movies</ion-title>
    
    <ion-buttons slot="end">
      <ion-icon name="log-out" (click)="logout()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearchBar">
    <ion-searchbar show-cancel-button="always" (ionInput)="filterFilm($event)" (ionCancel)="showSearchBar = !showSearchBar" [debounce]="1000" placeholder="Search movies"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p *ngIf="films.length === 0" class="ion-text-center">No films, charge the json film files to database</p>
  <ion-list *ngIf="films.length !== 0">
    <ion-item-sliding class="ion-margin-bottom" *ngFor="let film of films">
      <ion-item class="ion-margin-horizontal">
        <img [src]="film.src ? film.src : 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="logo" class="image-item"/>

        <ion-label class="ion-padding-start ion-text-center">
          <h1 class="ion-text-wrap">{{film.title}}</h1>
          <p class="ion-text-wrap description-text">{{film.description}}</p>

          <div>
            <ion-icon slot="icon-only" [color]="0 < film.stars ? 'warning' : 'medium'" name="star"></ion-icon>
            <ion-icon slot="icon-only" [color]="1 < film.stars ? 'warning' : 'medium'" name="star"></ion-icon>
            <ion-icon slot="icon-only" [color]="2 < film.stars ? 'warning' : 'medium'" name="star"></ion-icon>
            <ion-icon slot="icon-only" [color]="3 < film.stars ? 'warning' : 'medium'" name="star"></ion-icon>
            <ion-icon slot="icon-only" [color]="4 < film.stars ? 'warning' : 'medium'" name="star"></ion-icon>
          </div>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option expandable="true" class="slider-option" (click)="edit(film)">Edit</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
