ion-toolbar {
  ion-icon {
    color: #FFFFFF;
    font-size: 22px;
  }
}

ion-list {
  background-color: transparent;
  ion-item {
    --background: #6e6e6e;
    --border-radius: 8px;
    .image-item {
      width:40% ;
      height: auto;
    }
    ion-label {
      p, h2 {
        color: #000000 !important;
      }
    }
  }
}

.slider-option {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  margin-left: -20px;
}